/*============= vars==========*/

@mixin respons($media){
	@if $media == smart {
		@media only screen and (max-width:480px) {@content}
	}
	@else if $media == tablet {
		@media only screen and  (min-width:481px) and (max-width:767px) {@content}
	}
	@else if $media == pc {
		@media only screen and (min-width:768px) and (max-width:1260px) {@content}
	}
}
@mixin title() {
    font-family:'Myriad Pro';
    text-transform: uppercase;
}
/*============= all==========*/

html,body {
	height:100%;
	bottom:0;
	border: 0;
	min-height:100%;
	}
 *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

a {
	text-decoration:none;
	height:100%;
	width:100%;
}
a:hover {
  text-decoration: none;
}
.container:before,
 .container:after,
 .row:before,
 .row:after,
 .clear:before,
 .clear:after,
 section::before,
 section::after, {
	  content:" ";
	  display:table;}
    section::before,
    section::after,
    .row:after,
.clear:after {clear:both;}


/*=================header=====================*/
header {
	background-color: #f6f2f2;
  height: 687px;
  margin-bottom:8%;
@include respons(smart) {
  text-align: center;
  height: auto;
}
  @include respons(tablet) {
    text-align: center;
    height: auto;
  }
  @include respons(pc) {
    text-align: center;
    height: auto;
	}
}

.wripper, .servise {
  margin:0;
  padding:0;
}
.wripper .row  {
  margin:0 auto;
  float: none;
  padding:0;
}

nav.navigation.navbar-inverse {
  height: 90px;
  margin: 29px auto 10% auto;
  float: none;
  @include respons(smart) {
    height: auto;
    }
  @include respons(tablet) {
  height: auto;
  }
}
.navigation {
  margin: 29px 0 10% 0;
  background: rgba(0,0,0,.8);
}
.navbar-toggle {
    margin: 0 auto;
	float: none;
}
.top_menu {
	height: 90px;
	margin:  0 auto;
	float: none;
  padding: 0;
  @include respons(smart) {
    text-align: center;
    height: auto;
	}
	@include respons(tablet) {
    text-align: center;
    height: auto;
  }
	@include respons(pc) {
  width: 45%;
  height: auto;
	}
}
.top_menu > div > .contextual-region > ul, #block-myfirsttheme-main-menu > ul {
  height: 90px;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  @include respons(smart) {
    display: block;
    height: auto;
    }
	@include respons(tablet) {
    display: block;
    height: auto;
   }
}
.top_menu li {
  height: 100%;
  float: left;
  padding: 0 4%;
  display: flex;
  align-items: center;
  @include respons(smart) {
    float:none;
    padding: 2% 0;
    display: block;
    }
	@include respons(tablet) {
  float: none;
  padding: 2% 0;
  display: block;
  }
}
.top_menu li a{
	@include title;
font-size: 1.2em;
  color: #e0e0e0;
  border-radius: 0;
  height: auto;
  text-decoration: none;
}
.activ, .top_menu li:hover, .top_menu li:active, .top_menu li a:hover, .top_menu li a:active, .top_menu li:focus{
	background-color: #ff3f40;
	border: none;
}
.left_block {
  padding:0;
  display: inline-block;
  width: 50%;
  @include respons(smart) {
    display: block;
    width:100%;
    margin-bottom: 30px;
	}
  @include respons(tablet) {
    display: block;
    width:100%;
    margin-bottom: 30px;
	}
  @include respons(pc) {
    display: block;
    width:100%;
    margin-bottom: 30px;
	}
}
h2 {
	@include title;
	font-size:4.5em;
	font-weight: 800;
  margin: 0;
  @include respons(smart) {
    font-size:2.5em;
    text-align:center;
   }
   @include respons(tablet) {
    font-size:3.5em;
    text-align:center;
   }
  @include respons(pc) {
   text-align:center;
	}
}
.left_block p {
	font:1.3em 'Myriad Pro';
	color: rgba(0,0,0,.7);
	text-align: justify;
	margin-bottom: 57px;
  }
  .left_block .quickedit-field div:first-child {
    display:none;
  }
  .quickedit-field a, #block-ourstrongorganaisation a {
	width: 228px;
	height: 56px;
	font:1.5em 'Myriad Pro';
  color: #fff;
  background-color: #ff2d2d;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respons(tablet) {
    margin: 0 auto;
  }
  @include respons(smart) {
    margin: 0 auto;
  }
  @include respons(pc) {
    margin: 0 auto;
  }
}
.right_block{
	padding: 0;
  position: relative;
  width: 47%;
  display: inline-block;
  float:right;
  @include respons(smart) {
    display: block;
    width:100%;
    float: none;
	}
    @include respons(tablet) {
    display: block;
    width:100%;
    float: none;
    margin-bottom: 20px;
	}
  @include respons(pc) {
    display: block;
    width:100%;
  }
}
.player {
	width: 100%;
  height: 358px;
  position: relative;
  float: right;
	background: #c4c0b1;
	-webkit-box-shadow: -33px -26px 35px -17px rgba(213,210,210,1);
	-moz-box-shadow: -33px -26px 35px -17px rgba(213,210,210,1);
  box-shadow: -33px -26px 35px -17px rgba(213,210,210,1);
  @include respons(smart) {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    float: none;
    height: 180px;
	}
  @include respons(tablet) {
    width: 80%;
    margin: 0 auto;
    float: none;
    height: auto;
    margin-bottom: 30px;
	}
  @include respons(pc) {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    float: none;
    height: 300px;
    margin-bottom: 40px;	}
}

/*===============section one======================*/

.section_one {
  clear: both;
  float: left;
  border-bottom:#ececec 1px solid;
  }
.section_one .row {
margin-bottom: 5%;
}
.servise .contextual-region, #block-servise, #block-servise2, #block-servise3, #block-servise4 {
  width: 49%;
  padding-right: 20px;
  display: inline-block;
  vertical-align:top;
  @include respons(smart) {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
     display: block;
  }
}

.section_one a {
  width: 228px;
  height: 56px;
  font:1.5em 'Myriad Pro';
  color: #ff2d2d;
  background-color: #fff;
  border: #ff2d2d 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respons(tablet) {
    margin: 0 auto;
  }
  @include respons(smart) {
    margin: 0 auto;
  }
  @include respons(pc) {
    margin: 0 auto;
  }
}

.servise h4, .servise p {
color:rgba(0,0,0,.7)
}
.servise h4 {
font-size:2em;
clear: both;
}
.servise p {
  font-size:1.3em;
  }
/*===============section two======================*/
.section_two {
  margin:0 auto;
  float: none;
  clear: both;
}
.section_two h3 {
  color:rgba(0,0,0,.8);
text-align:center;
@include title;
font-size:3.5em;
padding:8% 0 4% 0;
}
.section_two p {
  color:rgba(0,0,0,.7);
  text-align:center;
  font:1.5em 'Myriad Pro';
  margin-bottom:10%;
}
.section_two p::after{
content: "";
  width: 140px;
  height:2px;
  background-color:#ff2d2d;
  margin:2% auto;
display:block;
}
.middle_menu {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  float: none;
  @include respons(smart){
    display: block;
    }
}
.middle_menu>div {
  width:100%;
}
.middle_menu > div > .contextual-region > ul, #block-middle-menu > ul {
  height: 90px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  @include respons(smart) {
    display: block;
    height: auto;
    }
	@include respons(tablet) {
    display: block;
    height: auto;
    text-align: center;
   }
}
.middle_menu li{
   @include respons(smart){
    display: block;
    width: 100%;
    text-align:center;
    }
}
.middle_menu li a{
font-size:1.5em;
color:rgba(0,0,0,.8);
@include title;
@include respons(tablet){
  font-size:1.2em;
}
@include respons(pc){
  font-size:1.2em;
}
}
.middle_menu li:hover,
 .middle_menu li:focus,
 .middle_menu li:active{
  background-color:transparent;
  }
  .middle_menu li a:hover,
  .middle_menu li a:focus,
  .middle_menu li a:active{
    color:#ff2d2d;
    background-color:transparent;
   }
  .prodacts >.row {
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
  @include respons(tablet){
    display: block;
    }
}
.prodacts > div > .contextual-region > .quickedit-field > div:first-child {
    display: none;
}
.row.col-md-12.prodacts {
  @include respons(smart) {
    text-align: center;
  }
}
.row.col-md-12.prodacts {
  text-align: center;
}
.prodacts .contextual-region {
    display:inline-block;
    margin-bottom:3%;
    margin-right: 3%;
    }
    #block-product,#block-product-2,#block-product-3,
    #block-product-4,#block-product-5,#block-product-6,
    #block-product-7,#block-product-8 {
      display:inline-block;
    }
.prodact {
      height: 250px;
      width: 230px;
      @include respons(tablet){
        display: inline-block;
        width: 45%;
      }
      @include respons(pc){
        height: 195px;
        width: 20%;
      }
   }
/*===============section three======================*/
.socbutt {
  margin: 0 auto;
  float: none;
}
.socbutt .col-md-9{
  float: right;
}
.socbutt .col-md-3 {
  padding: 0;
}

.socbutt .quickedit-field>div:first-child{
  display: none;
}
.section_three {
  text-align: left;
}
.section_three h3, .section_five h3 {
  @include title;
  font-size:3.5em;
  text-align: left;
  margin: 10% 0 2% 30px;
  }
.section_three>.row.col-md-5, .section_five>.row.col-md-6{
@include respons(pc){
width:100%;}
}
.section_three p, .section_five>.row.col-md-6>p {
  color:rgba(0,0,0,.7);
  margin: 10px 10px 30px 0;
text-align:justify;
}
.section_three p::after, .section_five >.row > div >.contextual-region>.quickedit-field>p::after{
  content: "";
    width: 140px;
    height:2px;
    background-color:#ff2d2d;
    margin:10px 0 70px 10px;
    display:block;
    @include respons(smart){
    margin: 10px auto;
}
  }

.socbutt h5 {
  @include title;
  font-size:3em;
}
.social{
  margin-top:50px;
}

.social > div > .contextual-region > ul, #block-socmenu > ul {
  display: block;
  @include respons(smart) {
    display: block;
  }
	@include respons(tablet) {
    display: block;
    }
}
.social > div > .contextual-region > ul >li, #block-socmenu > ul li {
  float: left;
  padding: 0 4% 0 0;
  list-style: none;
  @include respons(smart) {
    float:none;
    padding: 2% 0;
    display: block;
    }
	@include respons(tablet) {
  float: none;
  padding: 2% 0;
  display: block;
  }
}
.social > div > .contextual-region > ul >li a, #block-socmenu > ul li a{
  font-size:1.5em;
  color:rgba(0,0,0,.8);
  text-decoration: 0;
  @include respons(tablet){
    font-size:1.2em;
  }
  @include respons(pc){
    font-size:1.2em;
  }
  }
  .row.col-md-12.groups {
    clear: both;
    @include respons(smart){
      text-align: center;
    }
    }
  .item {
    position: relative;
    display: inline-block;
    margin-top: 5%;
}
  .item img {
    width: 162px;
    height: 190px;
  }
.item:hover {
  .hidden_block {
    display: block;
  }
}
.hidden_block {
position:absolute;
display: none;
background:rgba(0,0,0,.5);
bottom: 0;
left:0;
color: #fff;
height:30px;
line-height:30px;
width:100%;
text-align: center;
@include title;
}

/*===============section four======================*/
.section_four {
background-color: #f5f0dd;
margin-top:10%;
}
.section_four h3 {
color:rgba(255,255,255,.8);
margin:10% auto 2% auto;
font-size:2.5em;
float: none;
text-align: center;
}
.section_four p, .copir p {
  color:rgba(255,255,255,.8);
  margin:0 auto 5% auto;
  float: none;
  text-align: center;
  font-size:1em;
}
.form {
margin:0 auto;
float: none;
text-align:center;
}
 .form .js-form-item, .form .form-actions {
   display: inline-block;
 }
input[type="email"] {
  width:100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  margin:0 5px 10% 0;
  }
  input[type="submit"] {
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    background: #ff2d2d;
    border-radius: 6px;
}
/*===============section five======================*/
.section_five, .black_contact, .section_five>.row {
padding:0
}
.section_five>.row {
  margin:0 0 5%;

  }
  .form_message .row {
    margin:0;
    padding:0;
  }
.form_message form{
float:left;
@include respons(tablet) {
  float: none;
}
}
.form_message input {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  margin: 0 0 13px;
  height: 50px;
  display: inline-block;
  width: 48%;
  border: none;
  border-radius: 5px;
}
textarea {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  margin: 0 0 13px;
  height: 250px;
  border-radius: 5px;
  border: none;
  width: 100%;
  }
.line input[type="text"]:last-child {
float: right;
}
.line input[type="text"]:first-child {
  float: left;
  }
.form_message  input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #ff2d2d;
  }
  .black_contact {
    padding-top:8%;
    background: #000000;
    line-height:2.5;
    height: 380px;
    color: rgba(255,255,255,.8);
    @include respons(smart){
    width: 100%;
    height:30%;

}
.black_contact p {
  border: none;
}
@include respons(tablet){
  width: 100%;
  height:30%;
  }}
  .block_contact h5{
    @include title;

  }
/*===================footer====================*/
footer {
  background: #313030;
  height: 100px;
  clear: both;
}
.foot_content {
  margin:0 auto;
float:none;
padding-top: 3%;
}
.copir,.icons{
  display: inline-block;
  width: 49%;
  opacity: 0.7;
  vertical-align: top;
@include respons(smart){
width:90%;
}
}
.copir p {
  color:rgba(255,255,255,.8);
  font-size:1em;
float: left;
}

  .icons img {
    display: inline-block;
    float: right;
    margin-right: 2px;
    width: 6%;
    @include respons(smart){
      float: none;
      }
}

.views-element-container.contextual-region, .views-element-container {
  display:none;
}
