<div class="wripper col-md-12 container-fluid">
    <div class="row">
          <header>
            <div class="row col-md-10">
                <nav role="navigation" class="navigation navbar-inverse">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                    </button>
                        <div id="navbarCollapse" class="collapse navbar-collapse">
                            <div class="nav nav-pills top_menu col-lg-5 col-md-8">
                                {{ page.top_navigation }}
                            </div>
                        </div>
                </nav>
            </div>
            <div class="row col-md-10">
                <div class="left_block col-md-6">
                    {{page.main_article}}
                </div>
                <div class="right_block col-md-5">
                    <div class="player">
                        {{page.main_video}}
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="row col-md-10">
          <section class="section_one">
                    <div class="left_block col-md-6">
                     {{page.content}}
                    </div>
                    <div class="right_block col-md-5">
                        <div class="servise col-md-12">
                            {{page.servises}}
                        </div>
                    </div>
            </div>
        </section>
    </div>
    <div class="row col-md-10 section_two">
        <section>
                    <div class="row col-md-12">
                        {{page.products}}
                    </div>
                    <div class="row col-md-12">
                        <nav>
                            <div class="nav nav-pills middle_menu col-md-10">
                                {{page.middle_nav}}
                            </div>
                        </nav>
                    </div>
                    <div class="row col-md-12 prodacts">
                            {{page.product_items}}
                    </div>
                    <div class="row col-md-5 section_three">
                        {{page.meet_our_team}}
                    </div>
        </section>
    </div>
    <div class="row col-md-10 socbutt">
        <section>
            <div class="col-md-3">
                {{page.block_big_item}}
            </div>
            <div class="col-md-9">
                {{page.block_with_socmenu}}
               <div class="social">
                    {{page.socmenu}}
                </div>
                <div class="row col-md-12 groups">
                 <div class="item">
                    {{page.socmenu_items}}
                    <div class="hidden_block">sokina jue</div>
                 </div>
                 <div class="item">
                    {{page.socmenu_items}}
                    <div class="hidden_block">sokina jue</div>
                 </div>
                    <div class="item">
                    {{page.socmenu_items}}
                    <div class="hidden_block">sokina jue</div>
                 </div>
                    <div class="item">
                    {{page.socmenu_items}}
                    <div class="hidden_block">sokina jue</div>
                 </div>
              </div>
            </div>
        </section>
    </div>
        <section class='section_four col-md-12'>
               {{page.design_tips}}
               <div method="POST" action="#" class="form col-md-9" name="form">
               {{page.form_subscribe}}
               </div>
        </section>
        <section class="section_five col-md-11 pull-right">
            <div class="row col-md-6">
                {{page.get_in_tough}}
            </div>
            <div class="row col-md-12">
              <div class="form_message col-md-7">
                  {{page.feedback_form}}
              </div>
              <div class="black_contact col-md-5 pull-right">
                  <div class="block_contact col-md-10 pull-right">
                      {{page.feedback_contact}}
                  </div>
              </div>
            </div>
        </section>
      <footer>
          <div class="foot_content col-md-10">
              <div class="copir">
                  <p>{{page.copir}}</p>
              </div>
              <div class="icons">
                  {{page.icons}}
              </div>
          </div>
      </footer>





</div>

